:root {
    --primary-color: #A569C3;
    --secondary-color: #eee3f1;
    --text-color: #4D4351;
    --button-color: #3A0159;
    --button2-color: #006357;
    /* Add more color variables as needed */
  }
  