/* Reset some default browser styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/*scroll bar width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--button-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--button-color);
  text-decoration: none;
}

/* Basic layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  text-align: center;
}

/* Example styling for a simple button */
/* .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--button2-color);
} */

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--button-color);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.section-heading {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  line-height: 36px;
  color: var(--button-color);
}
.section-heading:before {
  background-color: var(--button-color);
  content: "";
  height: 2px;
  left: -100px;
  position: absolute;
  top: 17px;
  width: 80px;
}
.section-heading:after {
  background-color: var(--button-color);
  content: "";
  height: 2px;
  position: absolute;
  right: -100px;
  top: 17px;
  width: 80px;
}

.common-banner {
  width: 100%;
  background-image: linear-gradient(to bottom, #dfdefe, #b4aff1);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 25vh;
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.common-banner-content {
  width: 100%;
  padding: 0 80px;
}

.common-banner-content h2 {
  padding-top: 60px;
  font-size: 30px;
  margin-bottom: 10px;
}

.common-banner-content p {
  font-size: 12px;
}

.custom-slider {
  margin-top: 18px;

  .rs-slider-handle {
    top: -6px;
    background-color: #3498ff;
    text-align: center;
    padding: 3px;
    margin-left: -16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 8px rgb(52 152 255 / 25%);
    }

    &::before {
      display: none;
    }
  }

  &.rs-slider-dragging .rs-slider-handle,
  &.rs-slider-dragging .rs-slider-handle:hover {
    box-shadow: none;
    transform: scale(1.2);
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .section-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading {
    font-size: 22px;
  }
  .section-heading:before {
    left: -50px;
    width: 40px;
  }
  .section-heading:after {
    right: -50px;
    width: 40px;
  }

  .common-banner-content {
    padding: 0 20px;
  }

  .common-banner-content h2 {
    padding-top: 50px;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .common-banner-content p {
    font-size: 11px;
  }
}
