/* Header styles */
@import url(../css/color.css);
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 999;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.body-scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header-container {
  padding: 0 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin-top: 5px;
  padding: 20px 0px;
}
.header-right-wrap {
  margin-top: 15px;
}

.main-menu nav ul {
  display: block;
  text-align: center;
  padding: 20px 0px;
}

.main-menu nav ul li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.main-menu nav ul li > a {
  color: var(--text-color);
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in;
}

.main-menu nav ul li > a:hover {
  color: #000;
}

.header-right-wrap ul {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}
.wishList,
.mobile-menu {
  margin-left: 25px;
}
.wishList,
.cart {
  position: relative;
}
.wishList > a,
.cart > a {
  background: transparent;
  border: none;
  color: var(--text-color);
  display: inline-block;
  font-size: 24px;
  padding: 0;
  position: relative;
}

.cart > a span.count-style,
.wishList > a span.count-style {
  background-color: var(--primary-color);
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  position: absolute;
  right: -14px;
  text-align: center;
  top: -9px;
  width: 21px;
}
.mobile-menu {
  display: none;
}
.mobile-menu button {
  background: none;
  border: none;
  color: #000;
  font-size: 33px;
  cursor: pointer;
  padding: 0;
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}
.header.scrolled {
  background-color: #fff; /* New background color on scroll */
  border-bottom: 1px solid #ecabff;
}

/* Responsive styles */

@media (max-width: 992px) {
  .wishList > a,
  .cart > a {
    display: inline-block;
    font-size: 18px;
  }

  .mobile-menu {
    display: flex;
    z-index: 9999;
  }
  .mobile-menu button {
    font-size: 24px;
  }
  .mobile-menu button .close {
    color: #fff;
  }

  .cart > a span.count-style,
  .wishList > a span.count-style {
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -7px;
    width: 18px;
  }

  .header-container {
    padding: 0 20px;
    position: relative;
  }

  .main-menu nav ul {
    display: flex;
    flex-direction: column;
    width: 40%;

    height: 100vh;
    overflow: auto;
    position: absolute;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
    padding: 80px 35px 0;
  }
  .active nav ul {
    background: #242222;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    top: 0;
  }

  .main-menu nav ul li a {
    text-align: left;
    padding-bottom: 2rem;
    width: 100%;
    display: table;
    color: #fff;
  }

  .main-menu nav ul li a:hover {
    background-color: #1888ff;
    border-radius: 0;
  }
}
