@import url(../css/color.css);

.banner {
  width: 100%;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 90vh;
  position: relative;
}

.banner-content {
  width: 100%;
  padding: 0 80px;
}
.banner-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.latest {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
 
  border-radius: 5px 5px 0 0 ;
}

.card .imgBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 250px;
 
}

.card .imgBox img {
  height: 80%;
  transition: .3s ease;
}

.card .imgBox img:hover {
  height: 85%;
  transition: .3s ease;
}

.card .contentBox {
  width: 90%;
  height: 120px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 5%;
 
}

.card .contentBox h3 {
  font-size: 17px;
  color: var(--text-color);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
 
}

.card .contentBox .price {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}



@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner-content {
    padding: 0 20px;
  }
  .banner-content h2 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    text-align: center;
    justify-content: center;
    height: 70vh;
    padding-top: 80px;
    background-image: linear-gradient(to bottom, #dfdefe, #b4aff1);
  }

  .banner-content {
    padding: 0 20px;
  }
  .banner-content h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .banner-content p {
    font-size: 15px;
  }
}
