@import url(../css/color.css);

.banner {
  width: 100%;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 90vh;
  position: relative;
}

.banner-content {
  width: 100%;
  padding: 0 80px;
}
.banner-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.latest {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;
  text-align: center;
  gap: 25px;
  max-width: 250px;
}

.card:hover {
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.card .imgBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 250px;
}

.card img {
  margin-top: 20px;
  height: 150px;
  transition: 0.3s ease;
  max-width: 180px;
}

.card img:hover {
  transition: 0.3s ease;
  transform: rotate(10deg) scale(1.1);
}
.card .contentBox {
  padding: 0 10px;
}
.card .contentBox h3 {
  font-size: 17px;
  color: var(--text-color);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.card .contentBox h4 {
  font-size: 13px;
  color: var(--text-color);
  font-weight: 400;
  text-transform: capitalize;

}

.card .contentBox .price {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 1px;
}

.cart-button {
  width: 100%;
  border-radius: 0px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner-content {
    padding: 0 20px;
  }
  .banner-content h2 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 17px;
  }

  .latest {
    padding: 40px 0px;
  }
  .wrapper {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    text-align: center;
    justify-content: center;
    height: 70vh;
    padding-top: 80px;
    background-image: linear-gradient(to bottom, #dfdefe, #b4aff1);
  }

  .banner-content {
    padding: 0 20px;
  }
  .banner-content h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .banner-content p {
    font-size: 15px;
  }

  .latest {
    padding: 30px 0px;
  }

  .card {
    gap: 15px;
    max-width: 100%;
  }

  .card .contentBox h3 {
    font-size: 15px;

    margin-bottom: 5px;
  }

  .card .contentBox .price {
    font-size: 17px;
  }
  .wrapper {
    margin-top: 20px;
  }

  .card .contentBox h4 {
    font-size: 12px;
  
  }
}
